body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    margin-top: 0;
    text-align: center;
    font-style: italic;
}
.center {
    padding: 5vh 10vw;
}
.point {
    font-size: 0.8rem;
    border-radius: 12px;
    padding: 2px 5px;
    background: #35a7b5;
    color: white;
}
li {
    margin-top: 5px;
}
.header {
    background: #eeeeee;
}
.up {
    position:absolute;
    margin: 2px 6px;
}
footer {
    text-align: center;
    height: 100px;
    background: #eeeeee;
}
table {
    margin: 0 auto;
}
td {
    width: 10vw;
}
footer p {
    font-weight: bold;
    color: #045b92;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.name {
    font-weight: bold;
    font-style: italic;
    color: #045b92;
}
.logo {
    height: 100px;
    position: absolute;
    left: 3vw;
}
.task {
    color: #1c621a;
    background: #d4ecd3;
    padding: 15px 20px 5px 20px;
    border-radius: 4px;
    border-left: solid #1d721b 4px;
}
.task h4 {
    margin: 0;
}
.example {
    font-style: italic;
    color: #045b92;
}
.section {
    margin-top: 40px;
}
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a {
    text-decoration: none;
}
.red{
    font-style: italic;
    color: #e40009;
}
.left-tab {
    margin-top: 10px;
    margin-left: 40px;
}
.entity {
    margin-top: 40px;
}